* {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.5) 50%
  );

  background-position: center;
  background-size: cover;
  height: 100vh;
}

.navbar {
  width: 1200px;
  height: 75px;
  margin: auto;
}

.icon {
  width: 200px;
  float: left;
  height: 70px;
}

.logo {
  color: #ff7200;
  font-size: 35px;
  font-family: Arial;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
  margin-top: 5px;
}

.menu {
  width: 800px;
  float: left;
  height: 70px;
  margin-left: 130px;
}

ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover {
  color: #ff7200;
}

.content {
  width: 1200px;
  height: auto;
  margin: auto;
  color: #fff;
  position: relative;
}

.content .par {
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: Arial;
  letter-spacing: 1.2px;
  line-height: 30px;
}

.content h1 {
  font-family: "Times New Roman";
  font-size: 30px;
  padding-left: 20px;
  margin-top: 9%;
  letter-spacing: 2px;
}

.content .cn {
  width: 160px;
  height: 40px;
  background: #ff7200;
  border: none;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s ease;
}

.content .cn a {
  text-decoration: none;
  color: #000;
  transition: 0.3s ease;
}

.cn:hover {
  background-color: #fff;
}

.content span {
  color: #ff7200;
  font-size: 50px;
}

.Container {
  max-width: auto;

  min-height: auto;
}

.Container .Furniture h1 {
  margin-top: 50px;
  margin-left: 20px;
  max-width: 270px;
  color: #ff7200;
  border-bottom: solid 1px;
  font-weight: 500;
}

body {
  background-image: url(./resources/1.jpg);
}

.Container .labels {
  position: relative;
}

img {
  max-width: 300px;
  position: inherit;
  flex-direction: row;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
}

.item1 {
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 15px;
}

.item1 h3 {
  margin: left 40px;
  color: #fcfcfc;
  font-weight: 500;
  margin-left: 40px;
}

.item2 {
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
.item2 h3 {
  margin: left 40px;
  color: #fcfcfc;
  font-weight: 500;
  margin-left: 40px;
}

.item3 {
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
.item3 h3 {
  margin-left: 40px;
  color: #fcfcfc;
  font-weight: 500;
}

.item4 {
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
.item4 h3 {
  margin-left: 40px;
  color: #fcfcfc;
  font-weight: 500;
}
.item5 {
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
.item5 h3 {
  margin-left: 40px;
  color: #fcfcfc;
  font-weight: 500;
}
.item6 {
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
.item6 h3 {
  margin-left: 40px;
  color: #fcfcfc;
  font-weight: 500;
}

.item1:hover {
  background-color: rgba(255, 255, 255, 0.068);
}
.item2:hover {
  background-color: rgba(255, 255, 255, 0.068);
}
.item3:hover {
  background-color: rgba(255, 253, 253, 0.068);
}
.item4:hover {
  background-color: rgba(255, 253, 253, 0.068);
}
.item5:hover {
  background-color: rgba(255, 255, 255, 0.068);
}
.item6:hover {
  background-color: rgba(255, 255, 255, 0.068);
}

.TV-Media {
  position: relative;
  float: left;
}
.TV-Media h1 {
  margin-top: 20px;
  margin-left: 20px;
  width: 300px;
  border-bottom: solid 1px;
  font-weight: 500;
  color: #ff7200;
}
.content .contactdetails h3 {
  margin-left: 20px;
}
.content .contactdetails a {
  text-decoration: none;
  color: rgb(167, 189, 250);
  font-family: sans-serif;
  margin-left: 20px;
}
.content .contactdetails a:hover {
  color: #ff7200;
}
.main .requirements {
  margin-top: 100px;
  margin-left: 30px;
}
.main .requirements h3 {
  color: #fcfcfc;
}

#form {
  margin-top: 80px;
  margin-left: 450px;
  width: 300px;
  background: whitesmoke;
  text-align: left;
  padding: 20px;
  border-radius: 5px;
  font-size: 14;
}

#form h1 {
  color: rgb(14, 13, 12);
  text-align: center;
  border-bottom: solid 1px;
  margin-bottom: 20px;
  width: 50%;
  margin-left: 85px;
  font-weight: 700;
}

#form button {
  padding: 10px;
  margin-top: 10px;
  color: #fcfcfc;
  background-color: rgb(41, 57, 194);
  border: none;
  border-radius: 5px;
  width: 100%;
  font-size: medium;
}

.inputcontrol {
  display: flex;
  flex-direction: column;
}

.inputcontrol input {
  border: 2px solid #fcfcfc;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 10px;
}

.inputcontrol input:focus {
  outline: 0;
}

.inputcontrol.success input {
  border-color: rgb(22, 197, 22);
}

.inputcontrol.error input {
  border-color: red;
}

.inputcontrol .error {
  color: red;
}

.inputcontrol1 {
  display: flex;
  flex-direction: column;
}

.inputcontrol1 input {
  border: 2px solid #fcfcfc;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 40px;
}

.inputcontrol1 input:focus {
  outline: 0;
}

.inputcontrol1.success input {
  border-color: rgb(22, 197, 22);
}

.inputcontrol1.error input {
  border-color: red;
}

.inputcontrol1 .error {
  color: red;
}
